body {
  --color-background: #fff;
  --color-header-background: rgba(255, 255, 255, 0.7);
  --color-text: #000;
  --color-text-2: #1d1d1d;
  --color-text-3: #696969;
  --color-text-4: #2e353f;
  --color-text-5: #4f5969;
  --color-text-6: #787878;

  --color-primary: #005b99;
  --color-accent: #d1dce5;
  --color-light-grey: #f4f5f6;
  --color-blue-grey: #a8b6c3;
  --color-code-text-background-color: #eee;
}
