@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($str) {
  animation: #{$str};
}
