/* Spoqa Han Sans Neo */
@font-face {
  font-display: swap;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/SpoqaHanSansNeo-Bold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/SpoqaHanSansNeo-Light.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SpoqaHanSansNeo-Medium.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/SpoqaHanSansNeo-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/SpoqaHanSansNeo-Thin.woff2) format("woff2");
}

/* Spoqa Han Sans JP */
@font-face {
  font-display: swap;
  font-family: "Spoqa Han Sans JP";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/SpoqaHanSansJP-Bold.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Spoqa Han Sans JP";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/SpoqaHanSansJP-Light.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Spoqa Han Sans JP";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/SpoqaHanSansJP-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Spoqa Han Sans JP";
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/SpoqaHanSansJP-Thin.woff2) format("woff2");
}
