@use "../../styles/mixins" as *;
@use "../../styles/media-queries" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-header-background);
  transition: 0.2s ease-in-out;
  z-index: 99;

  &.blur {
    box-shadow: rgb(0 0 0 / 5%) 0px 0px 13px;
    backdrop-filter: saturate(180%) blur(20px);
  }

  &__inner {
    width: 100%;
    padding: 25px 30px;
    @include flex(space-between, center);

    @include sm {
      padding: 15px 20px;
    }
  }
}
