@use "../../styles/media-queries" as *;

.logo {
  margin: 0;
  font-size: var(--fontSize-2);
  font-weight: var(--fontWeight-semibold);
  text-align: center;

  &:hover {
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  @include sm {
    text-align: left;
  }
}
