@use "../../styles/mixins" as *;
@use "../../styles/media-queries" as *;

.global-header {
  margin-bottom: var(--spacing-12);

  &__inner {
    width: 100%;
    padding: 25px 30px;
    @include flex(space-between, center);

    @include sm {
      padding: 20px;
    }
  }
}
