@use "../../styles/mixins" as *;
@use "../../styles/media-queries" as *;

.global-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-background);
  z-index: 99;

  &__inner {
    width: 100%;
    padding: 25px 30px;
    @include flex(space-between, center);

    @include sm {
      padding: 20px;
    }
  }
}
