@use "../../styles/mixins" as *;

.nav {
  @include flex(normal, center);

  &__link {
    position: relative;
    color: var(--color-text);
    font-weight: var(--fontWeight-regular);
    line-height: 1.3;
    text-transform: capitalize;
    text-decoration: none;

    &:after {
      display: block;
      content: "";
      width: 0;
      height: 1px;
      background: var(--color-text);
      transition: width 0.3s;
    }

    &:hover:after {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}
